.buy{
    grid-row: 2/3;
    grid-column: buy-start / buy-end;
    padding: 7rem 2.5rem;
    background-color: rgb(20, 20, 20);
    text-align: center;

    &__heading-3{
        font-family: $font-display;
        font-size: 2.5rem;
        color: $color-primary;
        margin-bottom: 1rem;
    }
    &__paragraph{
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 300;
    }
}