.contact{
    grid-column: 1 / -1;
    
    display: grid;
    grid-template-rows: minmax(min-content, 80vh) 1fr;
    
    @media only screen and (max-width: $bp-medium){
        grid-template-rows: min-content 1fr;
    }

    &__info{
        height: 100%;
        display: flex;
        background-color: #141414;
        padding: 3rem 15rem;

        @media only screen and (max-width: $bp-high){
            padding: 1rem 5rem;
        }
        @media only screen and (max-width: $bp-medium){
            padding: 15rem 5rem;
        }
        @media only screen and (max-width: $bp-small){
            padding: 3rem .5rem;
            width: 100%;
        }
        justify-content: space-evenly;
        align-items: center;


        &__circle{
            flex: 1 0 0;

            @media only screen and (max-width: $bp-small){
                height: 12rem;
                width: 12rem;
                padding: 3rem;
            }
            
        }

        &__icon{
            height: 6rem;
            width: 6rem;
            fill: $color-primary;

            @media only screen and (max-width: $bp-small){
                height: 4.5rem;
                width: 4.5rem;
            }
            animation: moveInLeft 2s .5s ease-in-out both;
        }

        &__title{
            margin-bottom: 1.3rem;

            @media only screen and (max-width: $bp-small){
                font-size: 1.4rem;
            }
        }
        &__paragraph{
            text-align: center;
            line-height: 1.4;
            font-size: 1.3rem;
            align-self: flex-end;

            &--animated{
                color: $color-primary;
                animation: pulse 2s 0s ease-in infinite both;
            }
        }
    }

    &__form{
        padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        @media only screen and (max-width: $bp-medium){
            padding: 2rem 0;
        }

        &__title{
            font-family: $font-display;
        }
        &__subtitle{
            font-size: 2rem;

            @media only screen and (max-width: $bp-smallest){
                font-size: 1.6rem;
            }
        }
        &__label{
            text-align: center;
        }

        &__input,
        &__textarea{
            width: 40rem;
            text-align: center;
        }
        &__textarea{
            text-align: left;
            height: 10rem;
            padding: 1.2rem;
        }

        &__btn{
            margin-top: 2rem;
            padding: .7rem 3rem;
        }
    }
}