.description{
    grid-column: full-start / full-end;
    margin: 3rem 0;
    padding: 2rem 4rem;
    

    display: flex;
    justify-content: space-between;

    &__photos{
        width: 40vw;
        display: grid;
        grid-template-rows: repeat(6, minmax(4rem, 1fr));
        grid-template-columns: repeat(5, minmax(4rem, 1fr));
        justify-content: center;
        align-content: center;

        &--1{
            grid-column: 1 / 5;
            width: 100%;
            transition: all .2s;
            &:hover{
                z-index: 10;
            }
        }
        &--2{
            width: 100%;
            grid-column: 2 / 6;
            grid-row: 3 / -1;
        }
    }
    &__info{
        width: 45vw;
        justify-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title--1{
            font-family: $font-display;
            color: $color-primary;
        }
        &__title--2{
            text-transform: uppercase;
            margin-bottom: 4rem;

        }

    }
}