.footer{
    grid-column: full-start / full-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000;
    position: relative;
    z-index: 25;         //added to prevent order to cover footer
    

    font-size: 1.3rem;
    color: $color-grey-light-2;

    &__company{
        display: flex;
        justify-content: start;
    }

    &__logo{
        margin-right: 3rem;
        height: 8rem;
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__copyright{
        word-wrap: wrap;
        width: 40%;
        text-align: right;
    }
}