.menu{
    padding: 3.5rem 4rem;

    display: grid;
    grid-template-rows: repeat(5, min-content);


    &__nav{
        grid-row: 1/2;
        grid-column: 1/-1;
        margin-bottom: 3.5rem; 
    }

    &__navlinks{
        width: 100%;
        text-align: center;
        margin: 2rem 0;

        animation: showUp 1s 0s ease-in both;

        transition: all 1.2s;

        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 20;
    }
    &__navlinks-menu{
        padding: 3rem 0;
        background-image: linear-gradient(to right bottom,
            rgba(#111, .85),
            rgba(#111, .85)),
            url(../img/background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__navlinks-order{
        height: 5rem;
        width: 100%;
        background-color: #111;
        border: 1px solid $color-grey-dark-2;
        clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
        text-align: center;
        padding: 1rem 2.5rem;
        display: none;

        @media only screen and (max-width: $bp-highest){
            display: block;
        }
    }

    &__navlink{

        color: $color-white;
        font-size: 2.4rem;
        text-decoration: none;
        padding: 1rem 2.5rem;
        cursor: pointer;
        
        @media only screen and (max-width: $bp-laptop-big){
            font-size: 2rem;
        }

        

        &:hover{
            color: $color-primary;
        }
    }
    


    //All categories
    &--header{
        grid-row: 1/2;
        grid-column: 1/-1;
        padding: 0 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &--boxes,
    &--others,
    &--drinks,
    &--snacks,
    &--sauces{
        display: grid;
        grid-template-rows: min-content repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

        animation: showUp 1s 1s ease-in both;

    }

    &--snacks{
        grid-template-rows: min-content repeat(2, 1fr);

    }
    
    &__item{
        display: flex;
        align-items: center;
        padding: 2rem;

        height: 10rem;
        width: 100%;
    }
    &__photo{
        width: 12rem;
        height: 8rem;
        margin-right: 2rem;
    }

    &__info{
        flex: 1 0 0;

    }
    &__description{
        padding: .7rem 0;
        font-size: 1.4rem;
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: $color-white;
        margin-right: .5rem;
    }
    &__btn{
        display: flex;
        justify-content: center;
        padding: 1rem 2.5rem;
        margin-left: 1rem;
        justify-self: right;
        text-transform: none;
    }
}