.nav{
    grid-column: full-start / full-end;

    background-color: #000;
    padding: 0 4rem;

    display: flex;
    justify-content: space-between;

    &__logo{
        height: 10rem;
    }

    &__list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        width: 40vw;
        font-size: 2.2rem;

    }

    &__item{

        &:link,
        &:visited{
            text-transform: uppercase;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            cursor: pointer;
        }

               

        &:hover{
            color: $color-primary;
         }
    }

}