.order{
    grid-row: 2/3;
    grid-column: buy-start / buy-end;
    //padding: 6rem 1.5rem;
    background-color: rgb(20, 20, 20);
    height: calc(100vh - 10rem);



    @media only screen and (max-width: $bp-laptop-big){
        padding: 2rem 1.5rem;
    }


    background-image: linear-gradient(to right bottom,
        rgba(#111, .85),
        rgba(#111, .85)),
        url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 20;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    

    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;


        &__heading-3{
            font-size: 2.5rem;
            margin-bottom: 3rem;
            text-align: center;

            @media only screen and (max-width: $bp-laptop-big){
                margin-bottom: .3rem;
            }
        }

        &__sauces{
                font-size: 1.4rem;
                font-family: $font-display;

                color: $color-primary;
        }

    }
    

    &__items{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        flex: 2 0 0;

        @media only screen and (max-width: $bp-laptop-small){
            flex: 0 0 0;

        }

        &__order{
            padding: 2rem 1rem;
        }
        &__sauces{
            display: flex;
            flex-direction: column;
            &__select{
                display: block;
                font-family: $font-primary;          
                border-radius: 15%;
                background-color: inherit;
                color: $color-white;
                padding: .3rem .4rem;
                text-align-last: center;
                
                &:last-child{
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }

                &:focus{
                    background-color: #111;
                    outline: none;
                    padding: .5rem;
            
                }
                
            }            
        }
        &__paragraph{
            font-size: 1.4rem;
            height: auto;
    
            &--italic{
                font-family: $font-display;
                color: $color-primary;
            }
        }

    }
    &__item{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        padding: 0 .5rem;

        &__title{
            margin-right: 3rem;
        }
        &__prize{
            display: flex;
            justify-content: space-evenly;
        }
        &__btn{
            margin-left: .5rem;
            background: none;
            border: none;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
        &__icon{
            width: 1.5rem;
            height: 1.5rem;
            fill: $color-primary-dark;
        }

        
    }

    &__submit{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem 2rem;

        &__btn{
            margin-top: 3rem;
            padding: 1rem 3.5rem;

            @media only screen and (max-width: $bp-laptop-big){
                margin-top: 1rem;
            }
    
            &--animated{
                margin-top: 3rem;
                padding: 1rem 1.5rem;
                animation: showUp 4s 1s ease-out both;


                @media only screen and (max-width: $bp-laptop-big){
                    margin-top: 1rem;
                }
            }
        }    
    }  
}