$color-primary: #d62c27;
$color-primary-dark: #750000;


$color-white: #fff;
$color-black: #111;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Cuprum', sans-serif;
$font-display: 'Marck Script', cursive;


//breakpoints
$bp-laptop-big: 87.5em;         //1400px
$bp-laptop-small: 75em;         //1200px

$bp-highest: 62.5em;             //1000px
$bp-high: 50em;                //800px
