*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 

    @media only screen and (max-width: $bp-highest){
        font-size: 52.5%;
    }
}

body {
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: 10rem calc(100vh - 10rem) 60rem repeat(4, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) 
    [center-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-laptop-small){
        grid-template-rows: 10rem calc(100vh - 10rem) 55rem repeat(4, min-content);

    }
    

    &--menu,
    &--reservation,
    &--contact{
        display: grid;
        grid-template-rows: 10rem minmax(calc(100vh - 10rem),min-content) 10rem;
        grid-template-columns: [full-start menu-start] 1fr [menu-end buy-start] 30rem [full-end buy-end];
    }


    &--reservation{
        grid-template-columns: [full-start] 1fr [infobar-start] 25rem [infobar-end] 1fr [full-end];
    }
    &--contact{
        grid-template-columns: [full-start] 1fr [full-end];
    }
}

::selection {
    background-color: $color-primary;
    color: #fff;
}