%heading {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1;
    color: $color-white;
    letter-spacing: 1px;
}


body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.7;
    color: $color-white;
    background-color: $color-black;
}


.heading-1{
    @extend %heading;
    font-size: 5rem; 
    margin: 0;

    @media only screen and (max-width: $bp-high){
        font-size: 4rem;
    }
    
    &--red{
        font-size: 4rem;
        color: $color-primary;

        @media only screen and (max-width: $bp-high){
            font-size: 3rem;
        }
    }
}

.heading-2{
    @extend %heading;
    font-size: 4rem;

    @media only screen and (max-width: $bp-high){
        font-size: 3rem;
    }
    &--red{
        font-weight: 300;
        font-style: italic;
        font-size: 3rem;
        color: $color-primary;

        @media only screen and (max-width: $bp-high){
            font-size: 2.5rem;
        }
    }
}
.heading-3{
    @extend %heading;
    font-size: 3rem;
}
.heading-4{
    @extend %heading;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: $color-grey-light-2;

    @media only screen and (max-width: $bp-high){
        font-size: 1.8rem;
    }
}

.btn{
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;

    font-family: $font-primary;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 2rem 7rem;
    cursor: pointer;
    transition: all .2s;

    &:link,
    &:visited{
        text-decoration: none;
        color: $color-white;
    }
    
    &:hover{
        background-color: $color-primary-dark;
    }
    &:focus{
        outline: none;
    }
    &:active{
        transform: translateY(.3rem);
    }
}

.isActive{
    color: $color-primary !important;

    &--2{
        color: $color-primary-dark !important;
    }
}



input[type="time"]::-webkit-clear-button {
    display: none;
}
input[type="time"]::-webkit-inner-spin-button, 
input[type="time"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #111 inset;
    -webkit-text-fill-color: $color-white;
}