%heading {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1;
    color: $color-white;
    letter-spacing: 1px;
}


body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.7;
    color: $color-white;
    background-color: $color-black;
}

.heading-1{
    @extend %heading;
    font-size: 5rem; 

    &--red{
        font-size: 4rem;
        color: $color-primary;
    }
}

.heading-2{
    @extend %heading;
    font-size: 4rem;
}
.heading-3{
    @extend %heading;
    font-size: 3rem;
}
.heading-4{
    @extend %heading;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: $color-grey-light-2;
}

.btn{
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;

    font-family: $font-primary;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 2rem 7rem;
    cursor: pointer;
    transition: all .2s;
    
    &:hover{
        background-color: $color-primary-dark;
    }
    &:focus{
        outline: none;
    }
    &:active{
        transform: translateY(.3rem);
    }
}